<a href="https://colab.research.google.com/github/Hp9897/Datascience-HamoyeAI/blob/main/HamoyeAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

url= "https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
food_data= pd.read_csv(url, sep=",",encoding = 'latin-1')
food_data.describe(include= "all")
#sum of Animal Fat produced in 2014 
food_data.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [22]:
#sum of Animal Fat produced in 2017
food_data.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [36]:
# mean across the whole dataset for the year 2015 to 3 decimal places
data1= food_data['Y2015'].mean()
print(data1)

135.23596649549236

In [38]:
# mean across the whole dataset for the year 2015 to 3 decimal places
data1= food_data['Y2015'].std()
print(data1)

1603.4039839423301

In [46]:
# total number and percentage of missing data in 2016 to 2 decimal places
percent_missing= food_data.isnull().sum()*100/ len(food_data)
missing_data_df= pd.DataFrame({'col': 'Y2016','percent_missing': percent_missing})
print(missing_data_df)

                col  percent_missing
Area Code     Y2016         0.000000
Area          Y2016         0.000000
Item Code     Y2016         0.000000
Item          Y2016         0.000000
Element Code  Y2016         0.000000
Element       Y2016         0.000000
Unit          Y2016         0.000000
Y2014         Y2016         2.607354
Y2015         Y2016         2.540078
Y2016         Y2016         2.518747
Y2017         Y2016         2.471162
Y2018         Y2016         2.356300

In [51]:
#highest correlation with â€˜Element Code
data2 = food_data.corr()*1000
print(data2)

                Area Code    Item Code  ...        Y2017        Y2018
Area Code     1000.000000    -5.159100  ...     5.005781     5.665404
Item Code       -5.159100  1000.000000  ...    21.494393    21.313687
Element Code    -0.208598   -24.683274  ...    24.254008    24.278572
Y2014            6.164110    21.722078  ...   995.229841   994.871665
Y2015            5.471656    20.857375  ...   988.047870   988.208455
Y2016            5.247136    20.109134  ...   992.784628   992.756674
Y2017            5.005781    21.494393  ...  1000.000000   998.103271
Y2018            5.665404    21.313687  ...   998.103271  1000.000000

[8 rows x 8 columns]

In [59]:
# highest sum of Import Quantity
food_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [60]:
#total number of the sum of Production in 2014
food_data.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [61]:
#elements had the highest sum in 2018
food_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [68]:
#elements had the 3rd lowest sum in 2018
food_data.groupby('Element')['Y2018'].sum('Lowest')

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [101]:
#otal Import Quantity in Algeria in 2018
food_data.groupby('Element')['Area','Y2018'].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                        Area  Y2018
Element
Domestic supply quantity                5295   5256
Export Quantity                         4403   3646
Fat supply quantity (g/capita/day)      5023   4987
Feed                                    1319   1225
Food                                    4941   4913
Food supply (kcal/capita/day)           5014   4969
Food supply quantity (kg/capita/yr)     4905   4877
Import Quantity                         5139   4945
Losses                                  2009   2008
Other uses (non-food)                   1732   1655
Processing                              2010   2003
Production                              3881   3846
Protein supply quantity (g/capita/day)  5023   4986
Residuals                               4655   4616
Seed                                     762    758
Stock Variation                         4232   4217
Total Population - Both sexes             45     45
Tourist consumption                      555    555

In [90]:
#total number of unique countries in the dataset
len(food_data['Area'].unique().tolist())

49